<% content_for :title do %><%= @page_title %><% end %>

<main id="content" role="main" class="group category-page">
  <header class="page-header group">
    <div class="full-width">
      <h1><%= @category.title %></h1>
    </div>
  </header>

  <div class="browse-container full-width business-browse">

    <nav class="popular">
      <h1>Popular pages</h1>
      <ul>
        <li>
          <h2><a href="/browse/business/setting-up">Start a business</a></h2>
          <ul>
            <li><a href="/limited-company-formation">Set up a limited company</a></li>
            <li><a href="/set-up-sole-trader">Set up as a sole trader</a></li>
            <li><a href="/write-business-plan">Write a business plan</a></li>
            <li><a href="/business-support-helpline">Business support helplines</a></li>
          </ul>
        </li>

        <li>
          <h2><a href="/business-finance-support-finder">Finance and support for your business</a></h2>
          <p>Get grants, loans, finance and support</p>
        </li>
        
        <li>
          <h2><a href="/register-for-self-assessment">Register for self assessment</a></h2>
          <p>Forms including SA1, SA400, SA401, deadlines and your Unique Taxpayer Reference (UTR) number</p>
        </li>
        
        <li>
          <h2><a href="/trade-tariff">Trade tariff</a></h2>
          <p>Search for import and export commodity codes and find the right tax, duty and licenses for your goods</p>
        </li>
      </ul>
    </nav>
      
    <nav class="find-out-more">
      <h1>A to Z</h1>
      <ul>
        <% @sub_categories.each do |category|%>
        <li>
          <h2><a href="<%= category.content_with_tag.web_url %>"><%= category.title %></a></h2>
        </li>
        <% end %>
      </ul>
    </nav>
  </div>

  <div id="report-a-problem"></div>
</main>

<% content_for :body_classes do %>full-width<% end %>
<% content_for :extra_headers do %>
<link rel="alternate" type="application/json" href="/api/tags.json?type=section&amp;parent_id=<%= params[:section] %>">
<% end %>
